// BREAKPOINTS
$bp-md: 768px;
$bp-lg: 1200px;

// COLORS
$background-primary: #F5F3EA;
$background-secondary: #252525;
$background-thirdly: #FFFFFF;


$text-color-primary: #252525;
$text-color-black: #000;
$text-color-secondary: #FFF;
$text-color-black-looks-like: #333;

$border-color-primary: #252525;